.title-box {
    color: grey;
}

.rows-box {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.rows-box a {
    display: block;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    color: grey;
    text-decoration: none;
}

.rows-box a:hover {
    background-color: #d2d2d4;
}

.rows-box span {
    padding-left: 30px;
    font-size: 130%;
    color: black;
}

.rows-box .detail {
    padding-left: 35px;
}
