.profile {
    background-color: #fff;
    /*padding: 0 0 0 0;*/
    -webkit-box-shadow: 0 0 14px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 14px rgba(0,0,0,.1);
    box-shadow: 0 0 14px rgba(0,0,0,.1);
    margin-top: 2%;
}
